main{
    width: 60%;
    height: auto;
    margin: 50px auto;
}

main h1{
    margin-top: -20px;
    text-align: center;
}
fieldset{
    width: 60%;
    margin: 0 auto;
}

#form {
    width: 63%;
    margin: 0 auto;
}
#form  > h2{
    width: 63%;
    margin: 5px auto;
}

section h2{
    width: 43%;
    margin: 5px auto;
}
footer{
    text-align: center;
}